# Q1

Name the four built-in data structures in python. Give one examples for each

List
Tuple
Set
Dictionary

### Q2

State two differences between a list and a tuple in Python.
-A list is mutable and a tuple isn't
-List is defined with '[]' and tuple is defined with '{}'

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [5]:
animal_list = ['dog', 'cat', 'lion', 'goat', 'chicken']

print(animal_list[0:2])

print(animal_list[3:])

animal_list.extend(['ant', 'whale', 'fish'])

animal_list.pop(0)
animal_list.pop(0)

print(len(animal_list))

animal_set = set(animal_list)

print(len(animal_set))

['dog', 'cat']
['goat', 'chicken']
6
6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [3]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first = suitcase[0:2]
first

['sunglasses', 'hat']

In [4]:
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [23]:
last = suitcase[4:]
last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [7]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3, 35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
When I was to ensure there are no duplicates in the data

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [16]:
region_capital = {"Eastern":"Koftown", "Volta":"Ho", "Ashanti":"Kumasi", "Nothern":"Tamale", "Brong":"Sunyani"}
print(region_capital.keys())
print(region_capital.values())

dict_keys(['Eastern', 'Volta', 'Ashanti', 'Nothern', 'Brong'])
dict_values(['Koftown', 'Ho', 'Kumasi', 'Tamale', 'Sunyani'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [21]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
print(len(values))

values_set = set(values)
print(values_set)

print(len(values_set))
print(type(vali))

15
{1, 2, 3, 4, 5, 6}
6

In [44]:
# MODE

values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
values.sort()
values.append(3)

dict_11 = {}
mode = None

for num in values:
    if num in dict_11:
        dict_11[num] += 1
    else:
        dict_11[num] = 1

max_dict_11 = max(dict_11.values())

for key, value in dict_11.items():
    if value ==max_dict_11:
        mode = key

print("Mode: " + str(mode))

Mode: 3

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [26]:
dict = {}
for i in range(1,16):
    dict[i] = i**2
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [30]:
dict = {}

x = []
for i in range(11,21):
    x.append(i)
dict['x'] = x

y = []
for i in range(21,31):
    y.append(i)
dict['y'] = y

z = []
for i in range(31,41):
    z.append(i)
dict['z'] = z
print(dict)

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}